<!-- CAROUSEL START -->
<div class="container">
  <div id="carousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active" data-slide-to="2">
        <div class="carousel-caption d-none d-md-block">
          <h3>Pokemon 1</h3>
        </div>
        <img src="../assets/img/banniere-pokemon.png" alt="First slide">
      </div>
    </div>
  </div>
</div>
<!-- CAROUSEL END -->
<!-- MAIN CONTENT START -->
<div class="container">
  <div class="row">
    <!-- SIDEBAR LEFT START -->
    <div class="col-md-4">
      <h2>Rechercher</h2>
      <div class="input-group w100 autocomplete">
        <input type="text" class="form-control" placeholder="Espece...">
        <div class="dropdown-menu active">
          <a class="dropdown-item" href="#">Action</a>
        </div>
      </div>
      <hr>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge badge-danger">14</span> Cat 1
        </li>
        <li class="list-group-item">
          <span class="badge red">14</span> Cat 2
        </li>
        <li class="list-group-item">
          <span class="badge">14</span> Cat 3
        </li>
      </ul>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
                Collapsible Group Item #2
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
              non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
              sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
              of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree">
                Collapsible Group Item #3
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
              non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
              sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
              of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SIDEBAR LEFT END -->
    <!--  PRODUCTS CONTENT START -->
    <div class="col-md-8">
      <h2>Attrapez les tous ! </h2>
      <div class="row">
        <!--  ITEM START -->
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/242x200" alt="img">
            <div class="caption">
              <h3>Pokename</h3>
              <p>Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing ... </p>
              <p>
                <a href="#" class="btn btn-primary" role="button">
                  <i class="glyphicon glyphicon-shopping-cart"></i>
                  Acheter
                </a>
                <a href="#" class="btn btn-default" role="button">
                  <i class="glyphicon glyphicon-search"></i>
                  Voir
                </a>
              </p>
            </div>
          </div>
        </div>
        <!-- ITEM END -->
        <!--  ITEM START -->
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/242x200" alt="img">
            <div class="caption">
              <h3>Pokename</h3>
              <p>Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing ... </p>
              <p>
                <a href="#" class="btn btn-primary" role="button">
                  <i class="glyphicon glyphicon-shopping-cart"></i>
                  Acheter
                </a>
                <a href="#" class="btn btn-default" role="button">
                  <i class="glyphicon glyphicon-search"></i>
                  Voir
                </a>
              </p>
            </div>
          </div>
        </div>
        <!-- ITEM END -->
        <!--  ITEM START -->
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/242x200" alt="img">
            <div class="caption">
              <h3>Pokename</h3>
              <p>Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing ... </p>
              <p>
                <a href="#" class="btn btn-primary" role="button">
                  <i class="glyphicon glyphicon-shopping-cart"></i>
                  Acheter
                </a>
                <a href="#" class="btn btn-default" role="button">
                  <i class="glyphicon glyphicon-search"></i>
                  Voir
                </a>
              </p>
            </div>
          </div>
        </div>
        <!-- ITEM END -->
        <!--  ITEM START -->
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/242x200" alt="img">
            <div class="caption">
              <h3>Pokename</h3>
              <p>Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing ... </p>
              <p>
                <a href="#" class="btn btn-primary" role="button">
                  <i class="glyphicon glyphicon-shopping-cart"></i>
                  Acheter
                </a>
                <a href="#" class="btn btn-default" role="button">
                  <i class="glyphicon glyphicon-search"></i>
                  Voir
                </a>
              </p>
            </div>
          </div>
        </div>
        <!-- ITEM END -->
        <!--  ITEM START -->
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/242x200" alt="img">
            <div class="caption">
              <h3>Pokename</h3>
              <p>Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing ... </p>
              <p>
                <a href="#" class="btn btn-primary" role="button">
                  <i class="glyphicon glyphicon-shopping-cart"></i>
                  Acheter
                </a>
                <a href="#" class="btn btn-default" role="button">
                  <i class="glyphicon glyphicon-search"></i>
                  Voir
                </a>
              </p>
            </div>
          </div>
        </div>
        <!-- ITEM END -->
        <!--  ITEM START -->
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/242x200" alt="img">
            <div class="caption">
              <h3>Pokename</h3>
              <p>Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing ... </p>
              <p>
                <a href="#" class="btn btn-primary" role="button">
                  <i class="glyphicon glyphicon-shopping-cart"></i>
                  Acheter
                </a>
                <a href="#" class="btn btn-default" role="button">
                  <i class="glyphicon glyphicon-search"></i>
                  Voir
                </a>
              </p>
            </div>
          </div>
        </div>
        <!-- ITEM END -->
      </div>
    </div>
    <!-- PRODUCTS CONTENT END  -->
  </div>
</div>

<!-- MAIN CONTENT END  -->
