<!-- CAROUSEL START -->
<div class="container">
  <div id="carousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active" data-slide-to="2">
        <div class="carousel-caption d-none d-md-block">
          <h3>Pokémon 1</h3>
        </div>
        <img src="../assets/img/banniere-pokemon.png" alt="First slide">
      </div>
    </div>
  </div>
</div>
<!-- CAROUSEL END -->
<!-- MAIN CONTENT START -->
<div class="container">
  <div class="row">
    <!-- SIDEBAR LEFT START -->
    <div class="col-md-4">
      <h2>Search</h2>
      <div class="input-group w100 autocomplete">
        <input type="text" class="form-control" #wordsearched placeholder="Species...">
        <div>
          <!-- <input type="text" class="form-control" #fieldsearched placeholder="Field name...">-->
          <select name="selectedfield" size="1">
            <option #selectedfield selected>translation</option>

          </select>

          <button (click)="search(selectedfield.value,wordsearched.value,fuzzyness.checked)">Submit</button>


          <label for="checkBoxFuzzy">Fuzzy</label>
          <input id="checkBoxFuzzy" type="checkbox" #fuzzyness placeholder="Fuzzy">
        </div>
        <div class="dropdown-menu active">
          <a class="dropdown-item" href="#">Action</a>
        </div>
      </div>
      <hr>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                 aria-expanded="false"
                 aria-controls="collapseTwo">
                Type
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <div class="form-checkbox">
                <input type="checkbox" id="type1"><label for="type1"><img src="../assets/img/spheres/feu.png" with="32"
                                                                          height="32" alt=""></label>
                <br>
                <input type="checkbox" id="type2"><label for="type2"><img src="../assets/img/spheres/fee.png" with="32"
                                                                          height="32" alt=""></label>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                 aria-expanded="false"
                 aria-controls="collapseThree">
                Price
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              get a price selector
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SIDEBAR LEFT END -->
    <!--  PRODUCTS CONTENT START -->
    <div class="col-md-8">
      <h2>Catch 'Em All!</h2>

      <div *ngIf="pkmTab.length==0; else elseBlock">
        <div class="thumbnail">
          <div class="caption">
            <h3>No item found !</h3>
          </div>
        </div>
      </div>
      <div class="row grid" id="itemGrid">
        <!--  ITEM START -->


        <div *ngFor="let iteratorPkm of pkmTab" #elseBlock r>
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="../../../assets/img/pokemons/{{iteratorPkm?.pokemon_specie_id}}.png" alt="img">
              <div class="caption">
                <h3>{{iteratorPkm?.translation}}</h3>
                <p>Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing ... </p>
                <p>
                  <a href="#" class="btn btn-primary" role="button" routerLink="/cart">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                    Buy
                  </a>
                  <a href="#" class="btn btn-warning" role="button" routerLink="/item">
                    <i class="glyphicon glyphicon-search"></i>
                    See
                  </a>
                </p>
              </div>
            </div>
          </div>

        </div>

        <!-- ITEM END -->

        <!-- PRODUCTS CONTENT END  -->
      </div>
    </div>
  </div>
  <!-- MAIN CONTENT END  -->
</div>
