<div class="container">
  <div class="pokemon-details">
    <div class="row">
      <div class="col-md-2">
        <img src="../../../assets/img/pokemons/38.png" alt="">
      </div>
      <div class="col-md-8">
        <h1>Pokémon name</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid distinctio eligendi eveniet impedit iusto laborum minus, nihil optio praesentium quasi quod repellat tempore temporibus ut veniam veritatis. Deserunt, qui!</p>
      </div>
    </div>
    <div class="well">
      <div class="center">
        <a routerLink="/cart" class="btn btn-primary"><i class="fa fa-cart"></i>Add to cart</a>
      </div>
    </div>
  </div>
</div>
