@import "base/_colors";
@import "base/_fonts";
@import "bootstrap";

body {
  background: $whiteLigth;
}

a {
  cursor: pointer;
}

.container {
  background: #fff;
  padding-bottom: 25px;
}

.center {
  width: 100%;
  text-align: center;
}

.button {
  cursor: pointer;
}

.pt25 {
  padding-top: 25px;
}

.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.w100 {
  width: 100%;
}

a {
  color: $blue;
}

.footer {
  width: 100%;
  background: $dark;
  margin-top: 40px;
  padding: 10px 0;
  color: #fff;
  a {
    color: #fff;
  }
  .container {
    background: transparent;

  }
}

.carousel {
  padding: 50px 0;
  .row {
    margin-bottom: 25px;
  }
}

.slogan {
  font-family: $mainFont;
}

.full-type {
  margin-bottom: 35px;
  .items {
    margin-bottom: 25px;
  }
}

.toggle-block {
  margin-top: 35px;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: height 2s; /* Safari */
  transition: height 2s;
  &.closed {
    height: 0;
    display: none;
  }
}

.form-group.error {
  label, .error-message, input {
    color: $red;
  }
  .error-message {
    font-style: italic;
  }
  input {
    border-color: $red;
  }
}

.cart-btn {
  position: relative;
  .cart-count {
    position: absolute;
    top: 3%;
    left: 54%;
  }
}

.carousel-item {
  img {
    width: 100%;
  }
}

.vertical-tabs {
  li {
    display: block;
    width: 100%;
    height: 100%;
  }
  a {
    color: $blue;
    display: block;
    width: 100%;
    height: 100%;
  }
  li.active {
    background: $blue;
    a {
      color: $white;
    }
  }
}

.facette-type {
  position: relative;
  width: 33px;
  height: 33px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  input {
    position: absolute;
    top: 6px;
    left: 6px;

  }
  label {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.facette-item {
  width: 32px;
  height: 32px;
  &.selected {
    border: 3px solid $blue;
    border-radius: 32px;
  }
}
