
<!-- HEADER START -->
<div class="container">
  <header class="header">
    <div class="row">
      <div class="col-md-3">
        <h1><a href="#">
          <img src="../assets/img/logo.png" alt="">
        </a></h1>
      </div>
      <div class="col-md-6">
        <div class="input-group center pt25">
          <input type="text" class="form-control" placeholder="Recherche rapide" aria-describedby="basic-addon2" tabindex="1">
          <span class="input-group-addon button" id="basic-addon2">
                    <i class="glyphicon glyphicon-search"></i>
                    Rechercher
                  </span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="pt25">
          <a routerLink="/connexion" class="btn btn-primary">Se connecter</a>
          <a href="#" class="btn btn-success">S'inscrire</a>
          <a class="nav-link"  routerLink="/cart">Cart</a>
        </div>
      </div>
    </div>
  </header>

</div>
<!-- NAV START -->
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/accueil">Accueil</a>
    </li>

    <li class="nav-item">
      <a class="nav-link"  routerLink="/items">Pokemons</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/item">Pokemon</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/connexion">Connexion / inscription</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/profil">Mon profil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ajout">Ajouter</a>
    </li>
    <li class="nav-item">
      <a routerLink="/echange" class="nav-link">Echange</a>
    </li>


  </ul>
</div>
<!--  NAV END -->

<router-outlet></router-outlet>
