<div *ngIf="cart">
  <div class="container">
    <div class="row">
      <div id="cartTotal" class="col-md-12">
        <div class="row">
          <div id="numberArticles" class="col-md-9 text-primary">

            <h2>TOTAL
              {{cart.articles.length}}
              item(s):
              <img class="pokedollar" src="../../../assets/img/pokedollar.png" height="35em" width="35em"/>
              <strong name="total" class="text-danger">{{cart.total}}</strong></h2>
            <h2>TOTAL {{cart.articles.length}} item(s):
              <img class="pokedollar" src="../../../assets/img/pokedollar.png" height="35em" width="35em"/>

              <strong id="total" class="text-danger">{{cart.total}}</strong></h2>

          </div>
          <div class="col-md-3 text-center fixed">
            <h2>
              <button (click)="placeOrder(cart)" class="btn btn-success" type="button">Place the order</button>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!--articles-->
    <ul class="list-group">
      <li *ngFor="let article of cart.articles" class="list-group-item">
        <div class="row">
          <div id="articleCaracPreview" class="col-md-2 text-center img-thumbnail list-group-item-warning">
            <div class="row">
              <a class="col-md-12" href="#">
                <div class="text-md-center">
                  <img [src]=article.picture/>
                </div>
              </a>
            </div>
            <div class="row">
              <div class="col-md-6">
                LVL : {{article.level}}
              </div>
              <div class="col-md-6 text-left" *ngIf="article.shininess == true">
                Shininess
              </div>
            </div>
          </div>
          <div id="articlePreview" class="col-md-5 text-left">
            <a href="#">
              <h4>
                <strong>{{article.name}}</strong>
              </h4>
            </a>
            <p>{{article.description}}</p>
            <p>
              <Strong>Supplier mark </Strong>{{article.user}}
            </p>
          </div>

          <div class="col-md-2" id="articlePrice">

            <h3 class="col text-danger">
              <img class="pokedolar" src="../../../assets/img/pokedollar.png" height="30em" width="30em"/>
              {{article.price}}
            </h3>
          </div>

          <div class="col-md-3 text-right" name="Removearticle">

            <button (click)="deleteArticle(article, cart)">
              <i style="font-size:30px;" class="fa fa-trash-o"></i>
            </button>
          </div>
        </div>
    </ul>
  </div>
</div>
