<div class="container">

  <div class="center slogan">
    <h1>I choose you!</h1>
  </div>
  <div class="carousel toggle-block " id="sumUp">
    <div class="row">
      <div class="col-md-12">
        <div class="center">
          <a href="">
            <img src="../assets/img/spheres/feu.png" alt="">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="center">
            <a href="">
              <img src="../assets/img/spheres/roche.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="center">
            <a href="">
              <img src="../assets/img/spheres/glace.png" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div class="center">
            <a href="">
              <img src="../assets/img/spheres/tenebres.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="center">

            <a href="">
              <img src="../assets/img/spheres/fee.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="fullType" class="full-type toggle-block closed">
    <div class="row">
      <div class="col-md-3">
        <div class="center items">
          <a>
            <img src="../assets/img/spheres/acier.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="center items">
          <a>
            <img src="../assets/img/spheres/combat.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="center items">
          <a>
            <img src="../assets/img/spheres/dragon.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="center items">
          <a>
            <img src="../assets/img/spheres/eau.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="center items">
          <a>
            <img src="../assets/img/spheres/electrique.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="center items">
          <a>
            <img src="../assets/img/spheres/fee.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="center items">
          <a>
            <img src="../assets/img/spheres/feu.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="center items">
          <a>
            <img src="../assets/img/spheres/glace.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="center items">
          <a>
            <img src="../assets/img/spheres/insecte.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="center items">
          <a>
            <img src="../assets/img/spheres/normal.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="center items">
          <a>
            <img src="../assets/img/spheres/plante.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="center items">
          <a>
            <img src="../assets/img/spheres/poison.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="center items">
          <a>
            <img src="../assets/img/spheres/psy.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="center items">
          <a>
            <img src="../assets/img/spheres/roche.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="center items">
          <a>
            <img src="../assets/img/spheres/sol.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="center items">
          <a>
            <img src="../assets/img/spheres/spectre.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="center items">
          <a>
            <img src="../assets/img/spheres/tenebres.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="center items">
          <a>
            <img src="../assets/img/spheres/vol.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-2">
    <div class="center">

    </div>
  </div>

  <button class="btn btn-xl btn-primary pull-right" (click)="toggleBlock()">
    View more
  </button>
</div>
