<div class="pokemons-list">
  <div *ngFor="let pk of pokemons" class="pokemon-item">
    <div class="row">
      <div class="col-md-2">
        <div class="thumb">
          <img src="../../../assets/img/pokemons/{{pk.picture}}" alt="">
        </div>
        <p class="price center"><img src="../../../assets/img/pokedollar.png" width=16 height=16 alt=""> {{pk.price}}
        </p>
      </div>
      <div class="col-md-10">
        <div class="pull-right">
          <a class="btn btn-danger" onclick="confirm('Do want what delete this pokemon  ?')"><i class="fa fa-trash"></i></a>
        </div>
        <div class="title">
          <h2><a routerLink="/item">{{pk.nickname}}</a></h2>
        </div>
        <hr>
        <div class="description">
          <p>{{pk.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
